/.idea/deployment.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_29_11_2021_19_34_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_29_11_2021_19_34__Default_Changelist_.xml
/.idea/vcs.xml
/.idea/workspace.xml
